<html>
<h1>Pagina Principal</h1>
<h2 align="center"><img src="C:/Users/wz/Proyectos/entorno2/proyecto1/Apps/Aplicacion1/templates/480-300x300.png" width="150" height="150" ></h2>

<h2 align="center">

<A HREF="http://localhost:8000/App1/">HOME</A>

<A HREF="http://localhost:8000/App1/Estudiante">Estudiantes</A>

<A HREF="http://localhost:8000/App1/Administradores">Administradores</A>

<A HREF="http://localhost:8000/App1/AcercaDe">AcercaDe</A>


</h2>
<body>
	Esta es una pagina de Prueba
</body>





</html>